@model IEnumerable<mPodroznik.ViewModel.BusViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form-group">
    <label class="col-lg-2 control-label" for="hobies">Linia autobusowa:</label>
    <fieldset>
        <div class="col-lg-10">
            @using (Html.BeginForm(FormMethod.Post))
            {
                @Html.DropDownList("BusNumber",
                         new SelectList(Model.Select(i => i.BusNumber).ToList()),
                         new { @class = "input-large form-control" })


                <input type="submit" value="Szczegoly" name="action" />

                <input type="submit" value="Pokaż trasę" name="action" />
            }

        </div>
    </fieldset>
</div>

